@page "/account"
@* @using System.Security.Claims *@
@* @using Microsoft.AspNetCore.Authorization *@
@* @attribute [Authorize] *@

<PageTitle>Account</PageTitle>

<h1>Account</h1>

@* <AuthorizeView>
<Authorized>
<p role="status">Name:@context.User.FindFirst(ClaimTypes.Name).Value</p>
</Authorized>
<NotAuthorized>
<button class="btn btn-primary">@rpcClient.CallAsync("")</button>
</NotAuthorized>
</AuthorizeView> *@

<button class="btn btn-primary" @onclick="makeRequest">Button</button>

@code {
    private RpcClient rpcClient;
    private String t1;
    private async void makeRequest()
    {
        try
        {
            t1 = await rpcClient.CallAsync("");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            Console.WriteLine(e.Message);
        }
    }
    protected override async Task OnInitializedAsync()
    {
        rpcClient = new RpcClient();
    }
}